#_site/*
_posts/NotOpen
*~
*.bak
# Created by https://www.toptal.com/developers/gitignore/api/jekyll
# # Edit at https://www.toptal.com/developers/gitignore?templates=jekyll
#
# ### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
# # End of https://www.toptal.com/developers/gitignore/api/jekyll

# Gemini related files
GEMINI.md
.gemini/
node_modules/