  <nav class="navbar navbar-pithy" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="pithy-navbar">
                    <a href="{{site.baseurl}}/">{{ 'home' | translate }}</a>
                    <a href="{{site.baseurl}}/about/">{{ 'about' | translate }}</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    </nav>
    
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
        </header>
        
        <!-- 추가 코드 -->
  <div id="toc" hidden>
  </div>
  <!-- 추가 코드 -->
      </div>
    </div>
    
    <!-- 추가 코드 -->
<script type="text/javascript">
  $(document).ready(function(){
     var tag = null;
     $("h1,h2,h3,h4,h5,h6").not(".subtitle").not(".post-title").not(".index").each(function(i,item){
       tag = $(item).get(0).localName;
       $(item).attr("id","content_"+i);
       $("#toc").append('<a class="new'+tag+'" href="#content_'+i+'">'+$(this).text()+'</a></br>');
     });
 
     if(tag !=null ){
       $(".newh1").css("margin-left",0);
       $(".newh2").css("margin-left",20);
       $(".newh3").css("margin-left",40);
       $(".newh4").css("margin-left",60);
       $(".newh5").css("margin-left",80);
       $(".newh6").css("margin-left",100);
 
       $("#toc").attr('hidden', false);
     }
  });
 </script>
 <!-- 추가 코드 -->